* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.PageContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  flex-grow: 1;
  padding: 5px;
  text-align: justify;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 5px;
}
aside {
  /* border: 1px solid green; */
  max-width: 300px;
  width: 100%;
}
article {
  max-width: 900px;
  width: 100%;
  /* border: 1px solid red; */
}
.spacer {
  max-width: 300px;
  width: 100%;
}

#note_names {
  max-height: 500;
  overflow-y: auto;
  padding-left: 0px;
  padding-right: 5px;
}
#note_names a {
  /* background-color: #eee; */
  border-bottom: 1px solid black;
  color: black;
  display: block;
  padding: 12px 0 12px 2px;
  text-decoration: none;
}
#note_names a:not(.selected):hover {
  background-color: #ccc;
}
#note_names .selected {
  background-color: #87afaf;
  color: white;
}

header {
  width: 100%;
  height: 40px;
  padding: 0 0;
  /* background: #F0F8FF; */
  background: #87afaf;
}
.header_content {
  max-width: 900px;
  min-width: 450px;
  margin: 0 auto 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
header h1 {
  max-height: 40px;
  display: inline;
  margin: 0 0;
}
header nav {
  display: inline;
}
header nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
  display: inline;
}
nav li {
  display: inline;
  margin-left: 30px;
}
header a {
  font-size: 140%;
  color: #ffffff;
}

footer {
  margin-bottom: 5px;
}
